<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-section-heading" data-cy="SectionCreateUpdateHeading" jhiTranslate="opnLmsApp.section.home.createOrEditLabel">
        Create or edit a Section
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.courseId" for="field_courseId">Course Id</label>
          <input type="text" class="form-control" name="courseId" id="field_courseId" data-cy="courseId" formControlName="courseId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.text" for="field_text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoUrl" for="field_videoUrl">Video Url</label>
          <input type="text" class="form-control" name="videoUrl" id="field_videoUrl" data-cy="videoUrl" formControlName="videoUrl" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoId" for="field_videoId">Video Id</label>
          <input type="text" class="form-control" name="videoId" id="field_videoId" data-cy="videoId" formControlName="videoId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoDuration" for="field_videoDuration">Video Duration</label>
          <input
            type="text"
            class="form-control"
            name="videoDuration"
            id="field_videoDuration"
            data-cy="videoDuration"
            formControlName="videoDuration"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoTitle" for="field_videoTitle">Video Title</label>
          <input
            type="text"
            class="form-control"
            name="videoTitle"
            id="field_videoTitle"
            data-cy="videoTitle"
            formControlName="videoTitle"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoDescription" for="field_videoDescription">Video Description</label>
          <input
            type="text"
            class="form-control"
            name="videoDescription"
            id="field_videoDescription"
            data-cy="videoDescription"
            formControlName="videoDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="opnLmsApp.section.videoChannelLanguage" for="field_videoChannelLanguage"
            >Video Channel Language</label
          >
          <input
            type="text"
            class="form-control"
            name="videoChannelLanguage"
            id="field_videoChannelLanguage"
            data-cy="videoChannelLanguage"
            formControlName="videoChannelLanguage"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
