<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="section">
      <h2 data-cy="sectionDetailsHeading"><span jhiTranslate="opnLmsApp.section.detail.title">Section</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="opnLmsApp.section.id">Id</span></dt>
        <dd>
          <span>{{ section.id }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.title">Title</span></dt>
        <dd>
          <span>{{ section.title }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.description">Description</span></dt>
        <dd>
          <span>{{ section.description }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.courseId">Course Id</span></dt>
        <dd>
          <span>{{ section.courseId }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.text">Text</span></dt>
        <dd>
          <span>{{ section.text }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoUrl">Video Url</span></dt>
        <dd>
          <span>{{ section.videoUrl }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoId">Video Id</span></dt>
        <dd>
          <span>{{ section.videoId }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoDuration">Video Duration</span></dt>
        <dd>
          <span>{{ section.videoDuration }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoTitle">Video Title</span></dt>
        <dd>
          <span>{{ section.videoTitle }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoDescription">Video Description</span></dt>
        <dd>
          <span>{{ section.videoDescription }}</span>
        </dd>
        <dt><span jhiTranslate="opnLmsApp.section.videoChannelLanguage">Video Channel Language</span></dt>
        <dd>
          <span>{{ section.videoChannelLanguage }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/section', section.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
